# Dependências
node_modules/
.pnp
.pnp.js

# Produção
dist/
dist-ssr/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
.DS_Store
*.local

# React Router (se estiver usando)
/.react-router/